# This is an example environment configuration file for the server.
DATABASE_URL=postgresql://ishara:ishara@localhost:5432/ishara

# Server configuration
PORT=8080
CORS_ORIGIN=http://localhost:5173

# Authentication configuration
JWT_SECRET=A_Very_Strong_Secret_Key_For_JWT_Tokens
JWT_EXPIRES_IN=1h
REFRESH_TOKEN_SECRET=Another_Very_Strong_Secret_Key_For_Refresh_Tokens

# Environment configuration
NODE_ENV=development # Change to 'production' in production environment
